.admin-view {
  display: block;
  margin: 0 0;
  padding: 0 var(--lumo-space-l);
  height: 100%;
}

.admin-view .button-layout {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-m);
}

.admin-view-statuslayout{
    visibility: visible;
    width: 100%;
    flex-wrap: wrap;
    padding-top: var(--lumo-space-s);
    margin-bottom: var(--lumo-space-m);
    border-top: thin solid;
}

#adminview-bdownloadindexes{
    width: 11em;
}

#adminview-bupdateprices{
    width: 11em;
}

#adminview-reqlimitfield{
    width: 11em;
}

