#taskmonitor-main-layout {
  border-style: solid;
  border-radius: var(--lumo-space-s);
  align-items: center;
  border-width: thin;
  padding: var(--lumo-space-s);
}

#taskmonitor-label{
   font-size: var(--lumo-font-size-xs);
}

#taskmonitor-close-icon{
    display: flex;
    flex: 1;
    max-width: 1em;
    font-size: 0.9em;
    color: red;
}

#taskmonitor-image{
    color: gray;
    height: 1.0em;
    width: 1.0em;
}

#taskmonitor-progress-bar{
    margin-top: var(--lumo-space-s);
    height: 0.4em;
    width: 8em;
}

#taskmonitor-button{
   font-size: var(--lumo-font-size-xs);
   height: 1.8em;
}
