#main-layout {
  border-style: solid;
  border-radius: var(--lumo-space-s);
  align-items: center;
  border-width: thin;
  padding: var(--lumo-space-s);
}

#label{
   font-size: var(--lumo-font-size-xs);
}

#image{
    height: 1.4em;
    width: 1.4em;
}

#progress-bar{
    height: 0.8em;
    width: 4em;
}

#button{
   font-size: var(--lumo-font-size-xs);
   height: 1.8em;
}
