#taskmonitor-main-layout {
  border-style: solid;
  border-radius: var(--lumo-space-s);
  align-items: center;
  border-width: thin;
  padding: var(--lumo-space-s);
  max-width: 7em;
  min-width: 7em;
}

#taskmonitor-label{
   width: 100%;
   font-size: 0.6em;
}

#taskmonitor-close-icon{
/*
    display: flex;
    flex: 1;
*/
/*
    max-width: 1em;
    font-size: 0.9em;
*/
    color: red;

        height: 1.0em;
        width: 1.0em;
        min-width: 1.0em;

}

#taskmonitor-image{
    color: gray;
    height: 1.0em;
    width: 1.0em;
}

#taskmonitor-progress-bar{
    margin-top: var(--lumo-space-s);
    height: 0.4em;
    width: 100%;
}

#taskmonitor-button{
   font-size: var(--lumo-font-size-xs);
   height: 1.8em;
}
