.filter-panel {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}


.filter-panel-field {
      max-width: 5.5em;
      padding:0.3em;
}

.filter-panel-range {
  flex-direction: row;
  align-items: baseline;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.filter-panel-range-field1 {
      max-width: 5em;
      padding-top:0.3em;
      padding-bottom:0.3em;
      padding-left:0em;
      padding-right:0em;
}

.filter-panel-range-field2 {
      max-width: 5em;
      padding-top:0.3em;
      padding-bottom:0.3em;
      padding-left:0em;
      padding-right:0em;
}



.filter-panel-range-arrow {
    top:0.15em;
    color: var(--lumo-tertiary-text-color);
    height: calc(var(--lumo-icon-size-s) * 0.8);
    width: calc(var(--lumo-icon-size-s) * 0.8);
}

.filter-panel-search-button {
      margin-left:0.5em;
      width:6em;
}

