.filter-panel {
  flex-direction: row;
  flex-wrap: wrap;
}


.filter-panel-field {

      border-style: solid;
      border-width: thin;
      padding: 0.4em;
      padding-bottom: 0em;
      border-radius: var(--lumo-border-radius);
      max-width: max-content;
      margin:5px;



/*
        background: tomato;
        padding: 5px;
        width: 100px;
        height: 100px;
        margin: 10px;
*/


}
