.indexes-dialog {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.indexes-dialog img {
  border-radius: 10%;
}


.indexes-dialog .body {
    /*background: yellow;*/
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.indexes-dialog .footer {
    /*background: blue;*/
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    align-items:center;
    /*width: 100%*/
    justify-content:  flex-end ;
    gap: 1em;
}

.indexes-dialog .overnight-box {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#indexdialog-imgplaceholder{
}

#indexdialog-symbol{
    font-weight: bold;
}

#indexdialog-name{
    font-size: var(--lumo-font-size-s);
}
