[part~="cell"] {
   font-size: var(--lumo-font-size-xs);
}


/* style text in grid column headers */
[part~="header-cell"] ::slotted(vaadin-grid-cell-content) {
  font-size: var(--lumo-font-size-xs);
  white-space: normal;
  word-wrap: break-word
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.zero {
  color: rgba(0, 0, 0, 0.0);
}

.openclose {
  font-weight: bold;
}






