.generators-view {
  display: block;
  height: 100%;
}

.generators-view .card {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
  align-items: center;
}

.generators-view .panel {
  border-right: 2px solid #ccc;
}

.generators-view .number {
  font-size: var(--lumo-font-size-l);
  font-weight: bold;
  margin-left: 0px;
  color: var(--lumo-tertiary-text-color);
}

.generators-view .icon {
  height: 2em;
  border-radius: 10%;
}

.generators-view .symbol {
  margin-left: var(--lumo-space-s);
  font-size: var(--lumo-font-size-l);
  font-weight: bold;
}

.generators-view .startdate, .period, .spans, .amplitude, .lookback {
  font-size: var(--lumo-font-size-s);
}


.generators-view iron-icon {
  color: var(--lumo-tertiary-text-color);
  height: calc(var(--lumo-icon-size-s)*0.8);
  width: calc(var(--lumo-icon-size-s)*0.8);
  margin-right: var(--lumo-space-xs);
}

.generators-view .amount {
  font-size: var(--lumo-font-size-xl);
  font-weight: bold;
}

.generators-view .leverage {
  align-self: center;
  font-size: var(--lumo-font-size-xs);
  border: 2px solid #ccc;
  padding-left:0.2em; /* this */
  padding-right:0.2em; /* this */
}

.generators-view .sltp {
  font-size: var(--lumo-font-size-xs);
}

.generators-view .tagRow {
  align-items: center;
}















