.indexpickerdialog-dialog {
  height: 100%;
}

/*
.indexpickerdialog-dialogheader {
    width: 100%;
}
*/

.indexpickerdialog-dialogbody {
    width: 100%;
    height: 100%;
}


.indexpickerdialog-dialogfooter {
    width: 100%;
    justify-content: flex-end;
}


/*
.selectionindicator {
    margin-left: auto;
    margin-top: auto;
    margin-bottom:0.3em;
}
*/

/*
.selectbutton{
    margin-top: auto;
}
*/





.indexpickerdialog-image{
    max-width:2em;
    border-radius: var(--lumo-border-radius);
}

.indexpickerdialog-name,
.indexpickerdialog-symbol,
.indexpickerdialog-exchange,
.indexpickerdialog-country,
.indexpickerdialog-sector,
.indexpickerdialog-industry,
.indexpickerdialog-marketcap,
.indexpickerdialog-ebitda{
}

.indexpickerdialog-name{
    font-size: 0.8em;
}

.indexpickerdialog-symbol-name{
    margin-left: 0.5em;
}

.indexpickerdialog-col1,
.indexpickerdialog-col2,
.indexpickerdialog-col3,
.indexpickerdialog-col4{
}

.indexpickerdialog-counterlabel{
    margin-left: auto;
    font-weight:bold;
}

.indexpickerdialog-selectedlabel{
    font-weight:bold;
}

.indexpickerdialog-checkselectedonly{
    font-weight:bold;
}


