.dialog {
  height: 100%;
}

.dialogheader {
    width: 100%;
}

.dialogbody {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.dialogfooter {
    width: 100%;
    justify-content: flex-end;
}

.filterfield {
}

.selectionindicator {
    margin-left: auto;
    margin-top: auto;
    margin-bottom:0.3em;
}
