.indexespanel {
    height:4.8em;
    width: 100%;
    overflow: auto;
    align-items: center;
    margin-top: 0.5em;
    gap: 1em;
}

.emptyview {
    width: 100%;
    font-size: var(--lumo-font-size-s);
    text-align: center;
}









